<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>devguide</title></head><body>
<h1>Developer Guide 1.0</h1>
<h2>1. Introduction</h2>
<h3>1.1 Keywords</h3>
Here are some keywords that are used in the API. Understanding the used terms will make the API documentation easier to read.<br>
<ul>
  <li>Channel - The virtualization of the Object on the SIoT platform, identified by a numerical Channel ID</li>
  <li>Field - One of sixteen specific data fields<br>
  </li>
</ul>
<br>

  

</body></html>