<table>
  <tr>
    <td><div></div>
<% if current_user %>
	<%= t(:homepage_logged_in) %>
<% else %>
	<%= t(:homepage) %>
<% end %></div>
      <p>NEWS</p>
      <div><b>05-06-2013 database reset due to tables changes</b></div><br>
      <div><b>10-25-2013 New version online!</b></div>
    </td>
    <td>
<div><img src="/images/fronte.png" width="100%"/></div>
    </td>
    </tr>
</table>