<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>

  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>user_guide2</title></head><body>
<h1 style="font-family: Ubuntu;">User Guide 1.0</h1>

<h2 style="font-family: Ubuntu;">1. Main Menu</h2>

<span style="font-family: Ubuntu;">In the menu bar you can reach the
two main section of the SIoT platform:</span><br style="font-family: Ubuntu;">

<ul style="font-family: Ubuntu;">

  <li>Account section</li>
  <li>Channels section</li>
</ul>

<h3 style="font-family: Ubuntu;">1.1 Account section</h3>

<span style="font-family: Ubuntu;">In this section you can view and
edit your account information (password, email, etc.)</span><br style="font-family: Ubuntu;">

<br style="font-family: Ubuntu;">

<h3 style="font-family: Ubuntu;">1.2 Channels section</h3>

<span style="font-family: Ubuntu;">By clicking on Channels in the manu
bar, you can see a list of your channels or create a new channel.</span><br style="font-family: Ubuntu;">

<br style="font-family: Ubuntu;">

<div style="font-family: Ubuntu;"><img src="/images/ima1.png" width="20%">
</div>

<h4 style="font-family: Ubuntu;">1.2.3 Create New Channel</h4>

<span style="font-family: Ubuntu;">By clicking on "create new channel"
in channel section you will be
redirected to channel editing page.</span><br style="font-family: Ubuntu;">

<br style="font-family: Ubuntu;">

<h4 style="font-family: Ubuntu;">1.2.4 Edit Channel<br>
</h4>

<br style="font-family: Ubuntu;">

<span style="font-family: Ubuntu;">Here you have to fill some
information about the channel:</span><br style="font-family: Ubuntu;">

<br style="font-family: Ubuntu;">

<div style="font-family: Ubuntu;"><img src="/images/ima2.png" width="30%"></div>

<br style="font-family: Ubuntu;">

<span style="font-family: Ubuntu;">You can give permissions to
relationship types or to indirect location:
</span><br style="font-family: Ubuntu;">

<br style="font-family: Ubuntu;">

<div style="font-family: Ubuntu;"><img src="/images/ima3.png" width="30%"></div>

<br style="font-family: Ubuntu;">

<span style="font-family: Ubuntu;">We have five types of relationship:<br>
</span>
<ul>
  <li style="font-family: Ubuntu;">OORs are between devices of the same user</li>
  <li style="font-family: Ubuntu;">PORs are between devices with the same fields "model" and "brand"</li>
  <li style="font-family: Ubuntu;">SORs are between devices that meet each other two times at least for thirty minutes</li>
  <li style="font-family: Ubuntu;">CLORs are between fixed devices in the same place</li>
  <li><span style="font-family: Ubuntu;">CWORs are between devices that meet each other at user work place</span><br>
  </li>
</ul>
<span style="font-family: Ubuntu;">When a channel uses indirect
location (only mobile devices), it will be
given the location of the meeted fixed device if its own location has
too low accuracy.</span><br style="font-family: Ubuntu;">

<span style="font-family: Ubuntu;">You have to choose which data&nbsp;
will be stored (depending on your
device):</span><br style="font-family: Ubuntu;">

<br style="font-family: Ubuntu;">

<div style="font-family: Ubuntu;"><img src="/images/ima4.png" width="30%"></div>

<br style="font-family: Ubuntu;">

<span style="font-family: Ubuntu;">If you are registering a fixed
device, you have to choose one location
for your channel in the map. When you select an exixting location, the
relative fields will be automatically filled.</span><br style="font-family: Ubuntu;">

<span style="font-family: Ubuntu;">You have only to specify the type of
the location (public, work or
home):</span><br style="font-family: Ubuntu;">

<br style="font-family: Ubuntu;">

<br style="font-family: Ubuntu;">

<table style="font-family: Ubuntu;">

  <tbody>
    <tr>
      <td><img src="/images/ima5.png" width="60%"></td>
      <td><img src="/images/ima6.png" width="40%"></td>
    </tr>
  </tbody>
</table>

<br style="font-family: Ubuntu;">
<span style="font-family: Ubuntu;">
If the location does not exist yet, you can create a new one by
clicking on "New Place" and then you will be redirected to new place
page.</span><br style="font-family: Ubuntu;">
<span style="font-family: Ubuntu;">
You have to fill in all location information after having clicked on
the map the desired place:</span><br style="font-family: Ubuntu;">

<br style="font-family: Ubuntu;">

<br style="font-family: Ubuntu;">

<div style="font-family: Ubuntu;"><img src="/images/ima7.png" width="40%"></div>

<br style="font-family: Ubuntu;">

<span style="font-family: Ubuntu;">Click on Create Place button to save changes and click on Back to go back to Edit Channel page.</span><br style="font-family: Ubuntu;">
<span style="font-family: Ubuntu;">Click on Save button to save channel changes.</span><br style="font-family: Ubuntu;">
<span style="font-family: Ubuntu;">You can also clear all data of your channel or delete it.</span><br>
<br>
<h4><span style="font-weight: bold;">1.2.4 Channel Summary</span></h4>
<h4><span style="font-weight: bold;"></span></h4>
<span style="font-family: Ubuntu;">In channel section, if you click on a channel you will be redirected to channel page.<br>
Here you have links to channel editing page, API managing page, Charts
page, data feed in variuos formats, a summary of the channel
information and the list of the channel's friends.<br>
<br>
</span>
<h4 style="font-family: Ubuntu;">1.2.5 Manage API Keys</h4>
<span style="font-family: Ubuntu;">In this page, you can see the channel's Write and Read API keys. You can acquire the Write API key by QR code.</span><br>
<br>
</body></html>